/* styles.css */

body {
    background: #00171f;
    font-size: 0.8rem;
  }

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
}

.logo_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px auto;
    max-width: 400px;
    row-gap: 20px;
}

.logo_grid div {
    display: flex;
    justify-content: center;
}

.logo_grid img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    opacity: 0.7;
}

/* Agregamos estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .logo_grid {
        max-width: 80%; /* Ajusta el tamaño máximo para dispositivos móviles */
    }

    .logo_grid img {
        max-height: 80px; /* Ajusta la altura máxima de las imágenes en dispositivos móviles */
        max-width: 80px; /* Ajusta la anchura máxima de las imágenes en dispositivos móviles */
    }
}

#main_cover {
    height: 100vh;
}

#main_cover .nws_cover {
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

.nws_cover, .nws_color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nws_cover {
    background: url("/assets/images/bgs/nws_bg1200.png") center center;
    background-size: auto;
    background-size: cover;
    position: fixed;
  }

#entry {
    background-color: transparent;
}

.first_text {
    /* position: absolute; */
    /* top: 30%; */
    /* left: 50%; */
    /* margin-top: 150px; */
    /* transform: translate(-50%, -50%); */
    margin-top: 5rem;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none
}

.first_text h1 {
    font-size: 2.5rem;
}

.first_text h4 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

a.nav-link {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.452);
}


#bottomBar {
    text-align: center;
}

.bottom-bar a {
    margin-right: 20px;
}

#bottomBarButton {
    opacity: 0.8;
}

#bottomBarButton:hover {
    opacity: 1;
}

#bottomBarContent {
    background-color: #343a40;
    color: #fff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.bottom-bar {
    opacity: 0.7;
}

.bottom-bar:hover {
    opacity: 1;
}

.bottom-bar-card {
    background-color: rgb(31, 37, 39);
}

.bottom-bar-text a {
    opacity: 0.5;
    color: #fff;
}


.bottom-bar-text a:hover {
    text-decoration: none;
    opacity: 1;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.del-3 {
    -webkit-animation-delay: 3000ms;
    -moz-animation-delay: 3000ms;
    animation-delay: 3000ms;
  }
.dur-2 {
    -webkit-animation-duration: 2900ms;
    -moz-animation-duration: 2900ms;
    animation-duration: 2900ms;
  }

.del-8 {
    -webkit-animation-delay: 8000ms;
    -moz-animation-delay: 8000ms;
    animation-delay: 8000ms;
  }
.dur-4 {
    -webkit-animation-duration: 4900ms;
    -moz-animation-duration: 4900ms;
    animation-duration: 4900ms;
  }

.del-5 {
    -webkit-animation-delay: 5000ms;
    -moz-animation-delay: 5000ms;
    animation-delay: 5000ms;
  }
.dur-4 {
    -webkit-animation-duration: 4900ms;
    -moz-animation-duration: 4900ms;
    animation-duration: 4900ms;
  }